* {
  font-family: "JetBrainsMono NF", "JetBrains Mono", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  color: #a9b665;
  padding: 2rem;
}

.navbar .navbar-right a {
  color: #a9b665;
  cursor: pointer;
  text-decoration: none;
}

.navbar .navbar-left a {
  color: #a9b665;
  cursor: pointer;
  text-decoration: none;
}

.navbar-center .navbar-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbar-center .navbar-links li {
  margin-right: 1rem;
}

.navbar-center .navbar-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  flex-direction: row;
}

#loginModal {
  position: absolute;
  padding: 10px;
  right: 0;
  border-radius: 10px;
  margin-top: 2px;
  /*width: 150px;*/
  width: auto;
  text-align: center;
  background: #282828;
  z-index: 10;
}

  #loginModal ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
  }

  #loginModal li {
    padding: 8px 16px;
    cursor: pointer;
  }

  #loginModal li:hover {
    background-color: #f1f1f1;
  }


.profileDiv {
  
}

  .profileDiv .profileButton {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }